<p>Add your exercise to the pool</p>
<input placeholder="name" #name required>
<input placeholder="area" #area required>
<input placeholder="intensity" #intensity required>
<input placeholder="reps for emom" #emom required>
<input placeholder="reps for amrap" #amrap required>
<input placeholder="reps for strength training" #strength required>
<input placeholder="type" #type required>

<button mat-button (click)="createExercise(name.value, area.value, intensity.value ,emom.value, amrap.value, strength.value, type.value)">Add exercise</button>


<h1 *ngFor="let e of exercises">
  Name: {{e.name}}, Intensität: {{e.intensity}} <button (click)="this.deleteExercise(e)">Delete</button> <button (click)="this.updateExercise(e)">Update</button>
</h1>
