<p>Add your exercise to the pool</p>

<input placeholder="type" #type required>
<input placeholder="name" #name required>
<input placeholder="area" #area required>
<input placeholder="reps for easy" #easy required>
<input placeholder="reps for medium" #medium required>
<input placeholder="reps for extreme" #extreme required>
<input placeholder="equipment" #equipment required>

<button mat-button
  (click)="createExercise(type.value, name.value, area.value, easy.value, medium.value, extreme.value, equipment.value)">Add
  exercise</button>

<mat-card *ngFor="let e of exercises">
  <h3>
    <p *ngIf="e.type === 1">EMOM - {{e.name}}</p>
    <p *ngIf="e.type === 2">AMRAP - {{e.name}}</p>
    <p *ngIf="e.type === 3">Strength - {{e.name}}</p>
    easy: {{e.easy}}, medium: {{e.medium}}, extreme: {{e.extreme}}, equipment: {{e.equipment}} <button mat-button
      (click)="this.deleteExercise(e)">Delete</button> <button mat-button
      (click)="this.updateExercise(e)">Update</button>
  </h3>
</mat-card>

<h2>Give me something to do!</h2><button mat-button (click)="GetWorkout()">GET SOME!</button>

<h1 *ngIf="randomWorkout">Workout: EMOM - 20 Minutes</h1>
<h2 *ngFor="let e of randomWorkout">{{e.name}}: | Easy: {{e.easy}} Reps | Medium: {{e.medium}} Reps | Extreme: {{e.extreme}} Reps |</h2>